<style>@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap')</style>

<mat-toolbar color="primary" class="head">
    <mat-toolbar-row>
        <div class="row between-xs middle-xs header-row">
            <h1 id="heel">Heel Lift</h1>
            <nav id="prueba">
                <a routerLink="/home" routerLinkActive="active">Home</a>
                <a routerLink="/products" routerLinkActive="active">Productos</a>
                <a routerLink="/contact" routerLinkActive="active">Contacto</a>
            </nav>
            <a mat-raised-button matBadge="29" matBadgeColor="accent">
                <mat-icon>shopping_cart</mat-icon>
                Carrito
            </a>
        </div>
    </mat-toolbar-row>
</mat-toolbar>


